<nav class="desk">
    <ul role="list" class="nav-item-desk">
        <li>
            <a href="/" class="nav-item-home">home</a>

        </li>
        <li>
            <a href="/blogs" class="nav-item-blog">Blog</a>
        </li>
    </ul>
    <button class="btn">color theme</button>
</nav>