<nav class="desk">
    <ul role="list" class="nav-item-desk">
        <li>
            <a href="/" class="nav-item-desk">home</a>

        </li>
        <li>
            <a href="/blogs" class="nav-item-desk">Blog</a>
        </li>
    </ul>
</nav>