<nav class="desk">
    <ul role="list" class="nav-item-desk purple">
        <li class="nav-item-li">
            <a href="/" class="nav-item-home">Home</a>
        </li>
        <li class="nav-item-li">
            <a href="/blogs" class="nav-item-blog">Blogs</a>
        </li>
    </ul>
</nav>
