@import url(variables.css);

html,
body,
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

.desk {
  background-color: var(--primary);
}

.nav-item-desk {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 0rem;
  padding-left: 0rem;
  padding-bottom: 0rem;
}

.nav-item-li,
#blog-title {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: inline;
}

.nav-item-home,
.nav-item-blog {
  text-decoration: none;
  text-align: center;
  font-size: 2.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  color: black;
}

#blog-title {
  font-size: 2.5rem;
  margin-left: 2rem;
  float: left;
  color: white;
  text-shadow: -1px 0 var(--tertiary), 0 1px var(--tertiary),
    1px 0 var(--tertiary), 0 -1px var(--tertiary);
}

.nav-item-li:hover {
  transform: scale(1.14);
  transition: all 0.5s;
}

.color-btn {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-top: 1rem;
  margin-right: 1rem;
  background-color: var(--secondary);
  border-radius: 2rem;
  border: 0rem;
  font-size: 1.7rem;
  position: relative;
  float: right;
}

.home-description {
  display: inline-block;
  width: 75rem;
  padding: 3.5rem 3.5rem 3.5rem 3.5rem;
  border-radius: 1rem;
  background-color: var(--secondary);
  margin-top: 10rem;
  margin-right: 20rem;
  float: right;
}

.description-title {
  font-size: 5.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
  color: var(--tertiary);
}

.description-p {
  line-height: 6rem;
  font-size: 2.7rem;
  font-weight: 500;
}

.home-pic {
  display: inline-block;
  margin-left: 20rem;
  height: 40rem;
  width: 40rem;
  object-fit: contain;
  float: left;
}

.home-list-div {
  display: in-block;
}

.article-img {
  height: 20rem;
  width: 20rem;
  object-fit: contain;
}

.blog-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30rem;
  width: 30rem;
  object-fit: contain;
}

.section-container {
  margin-top: 6rem;
}

.all-articles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 4rem;
}

.article {
  width: 45rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 1.5rem;
  background-color: var(--secondary);
}

.article-text {
  font-size: 3rem;
  text-align: center;
}

.article-title,
.article-author {
  font-weight: 500;
  text-align: center;
}

.article-title {
  margin-bottom: 1rem;
}

.article-author {
  margin-bottom: 1rem;
}

.article-link {
  display: inline-block;
  margin-top: 1rem;
}

.article-link:hover {
  transform: scale(1.14);
  transition: all 0.5s;
}

.blog-content-title {
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  margin-top: 1rem;
}

.blog-content-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  height: 30rem;
  width: 30rem;
  object-fit: contain;
}

@media (max-width: 1080px) {
  .home-pic {
    margin-left: 1.5rem;
    margin-top: 5rem;
    height: 35rem;
    width: 35rem;
    object-fit: contain;
  }
  .home-description {
    margin-right: 2rem;
    margin-top: 9rem;
    width: 55rem;
    float: right;
  }
  .description-title {
    font-size: 4rem;
  }
  .description-p {
    font-size: 2.5rem;
  }
}

@media (max-width: 844px) {
  .home-description {
    width: 38rem;
    float: none;
    margin-left: 4rem;
    margin-top: 3rem;
  }
}

@media (max-width: 810px) {
  .home-pic {
    margin-left: 1.5rem;
    margin-top: 2rem;
    height: 32rem;
    width: 32rem;
    object-fit: contain;
  }
  .home-description {
    margin-right: 1.5rem;
    margin-top: 2rem;
    width: 39rem;
  }
  .description-title {
    font-size: 4rem;
  }
  .description-p {
    font-size: 2.5rem;
  }
}

@media (max-width: 390px) {
  #blog-title {
    font-size: 2.2rem;
  }
  .home-pic {
    display: block;
    margin: 1rem;
    height: 35rem;
    width: 35rem;
    object-fit: contain;
  }
  .home-description {
    margin: 1rem;
    width: 35rem;
    float: none;
  }
  .description-title {
    font-size: 4.7rem;
  }
  .description-p {
    font-size: 2.6rem;
  }

  .article {
    padding: 1rem;
    font-size: 3rem;
    width: 35rem;
  }
  .blog-img {
    height: 20rem;
    width: 20rem;
    object-fit: contain;
  }
  .article-title {
    font-size: 2.7rem;
  }
}
