:root {
  --white: #ffffff;
  --black: #000000;
  --purple: #c8b6db;
  --light-purple: #e8e0f0;
  --dark-purple: #907ea0;
  --green: #87a793;
  --light-green: #b9cfbe;
  --dark-green: #466650;

  /*intentions*/
  --primary: var(--purple);
  --secondary: var(--light-purple);
  --tertiary: var(--dark-purple);

  /*typography*/
  --h1: 1.563rem;
  --h2: 1.25rem;
  --h3: 1.25rem;
  --h4: 1.25rem;
}

.h1 {
  font-size: var(--h1);
}
.h2 {
  font-size: var(--h2);
}
.h3 {
  font-size: var(--h3);
}
.h4 {
  font-size: var(--h4);
}

.green {
  --primary: var(--green);
  --secondary: var(--light-green);
  --tertiary: var(--dark-green);
}
