<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/styles.css">
    <title>Evelyn's Food Blog</title>
</head>

<body class="purple">
   {% include 'nav.njk' %}
    <button class="color-btn">color theme</button>
    <header class="header-container">
        <img src="/media/eatingpic.png" alt="home pic" class="home-pic">
        <div class="home-description">
            <h2 class="description-title">title</h2>
            <h3 class="description-p">stuff</h3>
        </div>
    </header>
    
    <script type="module" src="./index.js"></script>
</body>

</html>