<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style/styles.css">
    <title>Evelyn's Food Blog</title>
</head>

<body class="purple">
    {% include 'nav.njk' %}
    <button class="color-btn">color theme</button>
    <header class="header-container">
        <img src="/media/eatingpic.png" alt="home pic" class="home-pic">
        <div class="home-description">
            <h2 class="description-title">Unwrap Food</h2>
            <h3 class="description-p">Writing about food, reading about food, learning about food, gazing at food - all within the comfort of one site.</h3>
        </div>
    </header>

    <script type="module" src="./index.js"></script>
</body>

</html>